<!DOCTYPE html>
<html>
    <head>
        <!-- <script>"{{ url_for('static', filename='jquery/jquery.js') }}"</script> -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script> 

        <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.4.3/dist/css/foundation.min.css" integrity="sha256-GSio8qamaXapM8Fq9JYdGNTvk/dgs+cMLgPeevOYEx0= sha384-wAweiGTn38CY2DSwAaEffed6iMeflc0FMiuptanbN4J+ib+342gKGpvYRWubPd/+ sha512-QHEb6jOC8SaGTmYmGU19u2FhIfeG+t/hSacIWPpDzOp5yygnthL3JwnilM7LM1dOAbJv62R+/FICfsrKUqv4Gg==" crossorigin="anonymous"> -->
        <!-- <link rel="stylesheet" href="../static/css/foundation.css">
        <link rel="stylesheet" type="text/css" href="../static/css/imageContainer.css">
        <link rel="stylesheet" type="text/css" href="../static/css/app.css"> -->

        <!-- <script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.4.3/dist/js/foundation.min.js" integrity="sha256-mRYlCu5EG+ouD07WxLF8v4ZAZYCA6WrmdIXyn1Bv9Vk= sha384-KzKofw4qqetd3kvuQ5AdapWPqV1ZI+CnfyfEwZQgPk8poOLWaabfgJOfmW7uI+AV sha512-0gHfaMkY+Do568TgjJC2iMAV0dQlY4NqbeZ4pr9lVUTXQzKu8qceyd6wg/3Uql9qA2+3X5NHv3IMb05wb387rA==" crossorigin="anonymous"></script> -->
        <!-- <script src="../static/js/vendor/foundation.js">
            $(document).foundation();
        </script> -->

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        <title>MenuApp - {{ page }}</title>

    </head>
    <body>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <a class="navbar-brand" href="#">MenuApp {{ page }}</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                  
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                      <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                          <a class="nav-link" href="{{ url_for('index')}}">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="{{ url_for('loginMain')}}">Login</a>
                        </li>
                        <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('uploadMain')}}">Upload</a>
                        </li>
                      </ul>
                      {% if status == true %}
                        <form action="{{ url_for('loginMain') }}" class="form-inline my-2 my-lg-0">
                                <button class="btn btn-outline-danger my-2 my-sm-0">Logout</button>
                            </form>
                      {% else %}
                        <form action="{{ url_for('loginMain') }}" class="form-inline my-2 my-lg-0">
                            <button class="btn btn-outline-success my-2 my-sm-0">Login</button>
                        </form>
                      {% endif %}
                    </div>
                  </nav>
        {% block content %} {% endblock %}


    </body>
</html>