{% extends 'base.html' %}
{% block content %}
<body>
        <p>Hello World from Index</p>
        <pre id="account-details"></pre>
        <p id="placeholder">{{ data }}</p>
        <ul>
            {% for doc in gdocs %}
            <li>{{doc.to_dict()}}</li>
            {% endfor %}
        </ul>
        <button id="load">load</button>
        <div>
            <img id='myimg' src="">
        </div>
        

        <!-- Firebase App (the core Firebase SDK) is always required and must be listed first -->
        <script src="https://www.gstatic.com/firebasejs/7.2.3/firebase-app.js"></script>
            
        <!-- Add Firebase products that you want to use -->
        <script src="https://www.gstatic.com/firebasejs/7.2.3/firebase-auth.js"></script> 
        <script src="https://www.gstatic.com/firebasejs/7.4.0/firebase-firestore.js"></script>
        <script src="https://www.gstatic.com/firebasejs/7.4.0/firebase-storage.js"></script>
        <script>
            var firebaseConfig = {
            apiKey: '{{ FB_API_KEY }}',
            authDomain: "menuapp-f3764.firebaseapp.com",
            databaseURL: "https://menuapp-f3764.firebaseio.com",
            projectId: "menuapp-f3764",
            storageBucket: "menuapp-f3764.appspot.com",
            messagingSenderId: "77920760117",
            appId: "1:77920760117:web:67cf1a4799eb73e064dc7c",
            measurementId: "G-33NWQZKM7W"
            };
            firebase.initializeApp(firebaseConfig);
        </script>

        <script src="{{ url_for('static', filename='js/fbLoadImages.js') }}"></script>

    </body>
        <!-- <script src="{{ url_for('static', filename='js/loginCheck.js') }}"></script> -->

{% endblock %}