{% extends 'base.html' %}
{% block content %}
    <p>Hello World from Index</p>

    <div class="row">

    </div>

    <div>
        <img id='myimg' src="">
    </div>
    <div class="hidden_row">

    </div>
    <!-- <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">QRCode</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <img src="">
                </div>
              </div>
            </div>
          </div> -->


    <!-- Firebase App (the core Firebase SDK) is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/7.2.3/firebase-app.js"></script>
        
    <!-- Add Firebase products that you want to use -->
    <script src="https://www.gstatic.com/firebasejs/7.2.3/firebase-auth.js"></script> 
    <script src="https://www.gstatic.com/firebasejs/7.4.0/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.4.0/firebase-storage.js"></script>
    <script>
        var firebaseConfig = {
        apiKey: '{{ FB_API_KEY }}',
        authDomain: "menuapp-f3764.firebaseapp.com",
        databaseURL: "https://menuapp-f3764.firebaseio.com",
        projectId: "menuapp-f3764",
        storageBucket: "menuapp-f3764.appspot.com",
        messagingSenderId: "77920760117",
        appId: "1:77920760117:web:67cf1a4799eb73e064dc7c",
        measurementId: "G-33NWQZKM7W"
        };
        firebase.initializeApp(firebaseConfig);
    </script>

    <script>
    var db = firebase.firestore();
    var storage = firebase.storage();

    const pHeader = document.querySelector("#first-p");
    const loadBtn = document.querySelector("#load");

    // Read info
    var item_dict = {{ items | safe }}
    
    // storage.refFromURL("gs://menuapp-f3764.appspot.com/QRCODE_burger_1.jpg").getDownloadURL().then(function(url) {
    //     var imgObj = new Image(400,512)
    //     imgObj.src=url
    //     document.body.append(imgObj)
    // })
    var count = 0;
    item_image_array = Object.keys(item_dict)
    item_image_array.forEach( item => 
        storage.refFromURL(item).getDownloadURL().then(function(imgurl) {
            var qrUrl = ""
            storage.refFromURL(item_dict[item]).getDownloadURL().then(function(qrurl){
                QRCodeUrl = qrurl
                    var qrmodal = `    
                    <div class="modal fade" id="ModalLabel${count}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">QRCode</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                            <div class="modal-body">
                            <img src="${QRCodeUrl}">
                            </div>
                        </div>
                        </div>
                    </div>`
                    var card = `<div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="${imgurl}" height="288" width="512">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModalLabel${count}">
                                QRCode
                                </button>                            
                            </div>
                        </div>`
                        $(".row").append(card);
                        $(".hidden_row").append(qrmodal);
                        count += 1
            })
        })
    )
    </script>


{% endblock %}